@model BlackMesa.Blog.Models.Comment

<section id="comment-create">

@using (Html.BeginForm("Details", "Entry")) {
    
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Create Comment</legend>

        @Html.Partial("~/Views/Entry/Comment/_CreateEditFieldset.cshtml", Model)
        <p>
            <input class="btn btn-primary" type="submit" value="Create" />
            @Html.ActionLink("Back to List", "Index", null, new { @class = "btn" })
        </p>
    </fieldset>
}
 
</section>
