@{
    ViewBag.Title = "Index";
}

<div style="width: 400px; text-align: right; margin-top: 150px; margin-left: 50%;">
    <img runat="server" src="~/Content/images/blackmesa_logo.png" alt="BlackMesa"/>
    <br/>
    <br/>
    <p>Undergoing maintenance.</p>
</div>