<div class="clearfix">
    <span id="backtotop">
        <a href="#"><i class="icon-chevron-up"></i> Back to top</a>
    </span>
    <span>
        My articles are licensed under
        <a id="license-image" rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/" target="_blank"></a>
    </span>

    
    <div id="powered-by">
        <span>Powered by</span>
        <a id="azure-logo" href="http://www.windowsazure.com/" target="_blank"></a>
        <a id="asp-dotnet-logo" href="http://www.asp.net/" target="_blank"></a>
    </div>
</div>