<nav>
    @Html.Partial("_Navigation")
</nav>
<i class="icon-time"></i> 
@DateTime.Now.ToLongDateString(), @DateTime.Now.ToShortTimeString()

<div id="authorization">
    <span id="user-status">Your status: </span>
    <div class="btn-group">
        <button class="btn"><i class="icon-lock"></i> Guest</button>
        <button class="btn  dropdown-toggle" data-toggle="dropdown">
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu pull-right">
            <li><a href="#"><i class="icon-home"></i> Login</a></li>
            <li><a href="#"><i class="icon-user"></i> Register</a></li>
        </ul>
    </div>
</div>



@*
<div id="nav-and-authorization">
    <nav>
        @Html.Partial("_Navigation")
    </nav>
</div>
*@