<div id="logo">
    <a href="@Url.Action("Index", "Entry")"><img src="/Content/images/blackmesa_logo.png" alt="BlackMesa Logo"/></a>    
</div>
<div id="nav-filter-container">
    <nav>
        @Html.Partial("_Navigation")
    </nav>
    <div id="filter-by-tag">
        <div id="filter-by-tag-input">
            <ul class="tag-input"></ul>
        </div>
        <div id="filter-by-tag-caption"><i class="icon-tags"></i> Filter by tag: </div>
    </div>
</div>


