<div class="btn-group">
    <a class="btn btn-warning dropdown-toggle" data-toggle="dropdown" href="#">
        <i class="icon-sitemap"></i> Menu
        <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
        <li><a href="#"><i class="icon-home"></i> Home</a></li>
        <li><a href="#"><i class="icon-user"></i> About</a></li>
        
        @*<li ><a href="#"><i class="icon-picture"></i> Photography</a></li>*@
        <li><a href="#"><i class="icon-envelope-alt"></i> Contact</a></li>
    </ul>
</div>
