<ul>
    <li><a href="@Url.Action("Index", "Entry")"><i class="icon-home"></i></a></li>
    <li><a href="@Url.Action("Index", "About")"><i class="icon-user"></i></a></li>
    <li><a href="@Url.Action("Index", "Contact")"><i class="icon-envelope-alt"></i></a></li>
</ul>