<ul>
    <li><a href="@Url.Action("Index", "Entry")"><i class="icon-home"></i> <span>Home</span></a></li>
    <li><a href="@Url.Action("Index", "About")"><i class="icon-user"></i> <span>About</span></a></li>
    <li><a href="@Url.Action("Index", "Contact")"><i class="icon-envelope-alt"></i> <span>Contact</span></a></li>
</ul>