<ul>
    <li><a href="#"><i class="icon-home"></i></a></li>
    <li><a href="#"><i class="icon-user"></i></a></li>
    <li><a href="#"><i class="icon-search"></i></a></li>
    <li><a href="#"><i class="icon-envelope-alt"></i></a></li>
</ul>