<nav>
    <div class="btn-group">
        <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#">
            <i class="icon-sitemap"></i> Menü
            <span class="caret"></span>
        </a>
        <ul class="dropdown-menu pull-right">
            <li><a href="#"><i class="icon-home"></i> Home</a></li>
            <li><a href="#"><i class="icon-user"></i> Über mich</a></li>
            <li ><a href="#"><i class="icon-picture"></i> Fotografie</a></li>
            <li><a href="#"><i class="icon-inbox"></i> Archiv</a></li>
            <li><a href="#"><i class="icon-envelope-alt"></i> Kontakt</a></li>
      
            @*    <li class="divider"></li>*@
            @*    <li><a href="#"><i class="i"></i> Make admin</a></li>*@
        </ul>
    </div>
</nav>