@model BlackMesa.Models.Comment
@using (Html.BeginForm("Details", "Entry")) {
    
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Create Comment</legend>

        @Html.Partial("~/Views/Entry/Comment/_CreateEditFieldset.cshtml", Model)
        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
