@{
    ViewBag.Title = "Hello World";
}

<h2>Hallo Welt</h2>


<p>Willkommen auf BlackFor. Ich bin Stephan, komme aus der Schwarzwaldstadt Freiburg und zähle die Tage an dem ich mit dem Informatikstudium fertig bin ;)</p>
<p>Ich beginne diesen Blog eigentlich aus mehreren Gründen. Zum Einen ganz klassisch als Plattform, um über diverse Themen aus der IT-Welt schreiben und diskutieren zu können. Zum Anderen, um meine manchmal recht theoretischen Inhalte aus meinem Informatikstudium aufzuarbeiten. Es kann nicht schaden, die Studieninhalte etwas zusammenzufassen und vielleicht stolpert der ein oder andere Kommilitone ja mal drüber und kann damit was anfangen. Zu guter Letzt ist der Aufbau dieser Homepage selbst, ein kleines Projekt, um meine ASP.NET Kenntnisse aus dem Praxissemester etwas zu festigen. Ich hab also ganz bewusst auf den Einsatz eines fertigen CMS-Systems verzichtet, nicht um das Rad neu zu erfinden, sondern ganz einfach aus Freude an der Webentwicklung :)</p><p>Okay genug geredet - Let's get to it.</p>


<h2>Hello World</h2>

<p>Welcome on BlackFor. I'm Stephan, living in Freiburg near the Black Forest and counting the days until I'm done with my information science studies ;)</p>
<p>Actually I am starting this blog out of multiple reasons. For one, classically as a plattform to write and discuss about various IT related topics.
On the other hand to review all those theoretical contents of my IT studies. It shouldnt hurt to sum up the subject matters a little bit and maybe the one or other fellow student will be able to make use it. 
Last but not least, the development of this website is a small project of its own, to tighten the ASP.NET skills i gathered during my last internship. So it is a deliberate decision to go without a finished CMS-system, no to reinvent the wheel, but out of joy for web development :)</p><p>Okay nuff said - Let's get to it.</p>