.clearfix() {
  &:before,
  &:after {
    content: " "; /* 1 */
    display: table; /* 2 */
  }
  &:after {
    clear: both;
  }
}


// Monochrome Color Palette

@black:                                 #000000;
@gray-darker:                           #222222;
@gray-dark:                             #333333;
@gray:                                  #555555;
@gray-light:                            #999999;
@gray-lighter:                          #EEEEEE;
@white:                                 #FFFFFF;

// Other Colors

@gray-light-alternative:                #DDDDDD;
@gray-lighter-alternative:              #F5F5F5;
@blue:                                  #006dcc;
@blue-light:                            #008afb;
@orange:                                #ff9500;
@orange-light:                          #ffbb5c;





// Fonts

@font-face {
    font-family: 'bebas';
    src: url('Content/custom/fonts/bebasneue-webfont.eot');
    src: url('Content/custom/fonts/bebasneue-webfont.eot?#iefix') format('embedded-opentype'),
         url('Content/custom/fonts/bebasneue-webfont.woff') format('woff'),
         url('Content/custom/fonts/bebasneue-webfont.ttf') format('truetype'),
         url('Content/custom/fonts/bebasneue-webfont.svg#bebas_neueregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

// Typography

@font-family-sans-serif:  "Helvetica Neue", Helvetica, Arial, sans-serif;
@font-family-serif:       Georgia, "Times New Roman", Times, serif;
@font-family-monospace:   Monaco, Menlo, Consolas, "Courier New", monospace;
@font-family-base:        @font-family-sans-serif;

@font-size-base:          14px;
@font-size-large:         ceil(@font-size-base * 1.25); // ~18px
@font-size-small:         ceil(@font-size-base * 0.85); // ~12px

@font-size-h1:            floor(@font-size-base * 2.6); // ~36px
@font-size-h2:            floor(@font-size-base * 2.15); // ~30px
@font-size-h3:            ceil(@font-size-base * 1.7); // ~24px
@font-size-h4:            ceil(@font-size-base * 1.25); // ~18px
@font-size-h5:            @font-size-base;
@font-size-h6:            ceil(@font-size-base * 0.85); // ~12px

@line-height-base:        1.428571429; // 20/14
@line-height-computed:    floor(@font-size-base * @line-height-base); // ~20px

@headings-font-family:    @font-family-base;
@headings-font-weight:    500;
@headings-line-height:    1.1;
@headings-color:          inherit;



// Body reset

body {
  font-family: @font-family-base;
  font-size: @font-size-base;
  line-height: @line-height-base;
  color: @gray-darker;
  background-color: @white;
}


//Paragraph
p {
  margin: 0 0 (@line-height-computed / 2);
}


// Headings

h1, h2, h3, h4, h5, h6 {
  font-family: 'bebas';
  font-weight: @headings-font-weight;
  line-height: @headings-line-height;
  color: @headings-color;
  margin: 0;
  padding: 0;
}

h1 { font-size: @font-size-h1; }
h2 { font-size: @font-size-h2; }
h3 { font-size: @font-size-h3; }
h4 { font-size: @font-size-h4; }
h5 { font-size: @font-size-h5; }
h6 { font-size: @font-size-h6; }


// Links

a {
  color: @blue;
  text-decoration: none;

  &:hover,
  &:focus {
    color: @blue-light;
    text-decoration: none;
  }

  &:focus {
      // Default
        outline: thin dotted @blue;
      // WebKit
        outline: 5px auto -webkit-focus-ring-color;
        outline-offset: -2px;
  }
}


// Unordered and Ordered lists
ul,
ol {
    padding: 0px;
    margin: 0px;
}


// Border Radius

@border-radius-base:             0px;
@border-radius-large:            0px;
@border-radius-small:            0px;


// Forms

@input-bg:                       @white;
@input-bg-disabled:              @gray-lighter;

@input-color:                    @gray;
@input-border:                   @gray;
@input-border-radius:            @border-radius-base;
@input-border-focus:             @blue;

@input-color-placeholder:        @gray-light;

@input-padding-vertical:         2px;
@input-height-base:              (@line-height-computed + (@input-padding-vertical * 2) + 2);



fieldset {
    padding: 0;
    margin: 0;
    border: 0;
}

legend {
    display: block;
    width: 100%;
    padding: 0;
    border: 0;
    font-size: 30px;
    font-family: 'bebas';
}

label {
    display: block;
    font-weight: bold;
}


.field-validation-error {
    font-weight: bold;
    color: orange;
}


input,
button,
textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;

    display: block;
    padding: 3px;
    padding-left: 8px;
    padding-right: 8px;
    margin-bottom: 15px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; 
}

input[type=checkbox] {
    display: inline-block;
    -webkit-appearance: checkbox;
}




// Button

.btn-blue {
    border: 1px solid @gray;
    background-color: @blue;
    padding: 4px 6px 4px 6px;

    color: @white;

    &:hover{
        color: @white;
        background-color: @blue-light;
    }
}

.btn-gray {
    border: 1px solid @gray-light;
    background-color: @gray-lighter-alternative;
    padding: 4px;

    color: @gray-light;
    &:hover { 
        color: @gray-light; 
        background-color: @white;
    }
}

.btn-gray-light {
    border: 1px solid @gray-light-alternative;
    border-bottom-color: @gray-light;
    border-right-color: @gray-light;
    background-color: @gray-lighter-alternative;
    padding: 4px;

    color: @gray-light;
    &:hover { 
        color: @gray-light; 
    }
}



// Dropdown-Menu

.dropdown-menu {
    position: relative;

    @menu-offset: 10px;
    padding-bottom: @menu-offset;  // we enlarge the hover area, by adding a nonvisual bottom padding

    &.align-right ul {
        right: 0px;
    }

    ul {

        display: none;
        position: absolute;
        width: 98%; // width relates to content width. as we have a border we go for 98% here to not exceed 100%
        list-style-type: none;
    
        background-color: @gray-lighter-alternative;
        color: @gray-light !important;
        a { color: @gray-light !important; }

        border: 1px solid @gray-light-alternative;

        margin-top: @menu-offset;
        padding-top: 5px;
        padding-bottom: 5px;
            
        li {

            text-align: center !important;

            padding-left: 2px;
            padding-right: 2px;

            a {
                display: inline-block;
                width: 100%;
                padding-top: 2px;
                padding-bottom: 2px;
            }
            &:hover {
                background-color: @white;
            }


        }
    }

    &:hover ul {
        display:block;
    }
    
}


















/*
@font-face {
    font-family: 'newmedia';
    src: url('../fonts/newmedia-webfont.eot');
    src: url('../fonts/newmedia-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/newmedia-webfont.woff') format('woff'),
         url('../fonts/newmedia-webfont.ttf') format('truetype'),
         url('../fonts/newmedia-webfont.svg#newmediaregular') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'newmediabold';
    src: url('../fonts/newmedia_fett-webfont.eot');
    src: url('../fonts/newmedia_fett-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/newmedia_fett-webfont.woff') format('woff'),
         url('../fonts/newmedia_fett-webfont.ttf') format('truetype'),
         url('../fonts/newmedia_fett-webfont.svg#newmediabold') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'newmediafett_kursiv';
    src: url('../fonts/newmedia_fett_kursiv-webfont.eot');
    src: url('../fonts/newmedia_fett_kursiv-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/newmedia_fett_kursiv-webfont.woff') format('woff'),
         url('../fonts/newmedia_fett_kursiv-webfont.ttf') format('truetype'),
         url('../fonts/newmedia_fett_kursiv-webfont.svg#newmediafett_kursiv') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'newmediaregular_italic';
    src: url('../fonts/newmedia_kursiv-webfont.eot');
    src: url('../fonts/newmedia_kursiv-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/newmedia_kursiv-webfont.woff') format('woff'),
         url('../fonts/newmedia_kursiv-webfont.ttf') format('truetype'),
         url('../fonts/newmedia_kursiv-webfont.svg#newmediaregular_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}
*/





body{
    background-image: url("Content/custom/images/pattern.png");
    /*background-color: @gray-lighter;*/
}

.container {
    .clearfix;
    margin-left: auto;
    margin-right: auto;
    max-width: 979px; /* 979px is wide enough to be viewed on all desktops and on tablets in landscape mode  */
}



#header {
    font-family: 'bebas';
    letter-spacing: 1px;

    #top-header-bar {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 9px;

        color: @gray-light;

        i {
            margin-right: 3px;
        }

        #language-selection {
            margin-right: 30px;
        }

        #datetime {
            flex-grow: 1;
        }

        #membership {
            #user-name {
                margin-right: 10px;
            }

            #manage {
                margin-right: 5px;
            }

            #logout-form {
                button {
                    background-color: transparent;
                    border: 0;
                    margin: 0;
                    padding: 0;
                    display: inline;
                    color: @blue;
                    font-family: inherit;
                    letter-spacing: inherit;
                    &:hover {
                            color: @blue-light;
                        }
                }
            }
        }
    }

    hr {
        margin: 0;
        border: 0;
        height: 1px;
        background-color: #DDD;
    }


    #bottom-header-bar {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        margin-top: 40px;
        margin-bottom: 55px;

        #logo {
            img {
                height: auto;
                max-width: 100%;
            }
        }

        nav {
            flex-grow: 1;
            font-size: 20px;
            height: 40px;

            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: flex-end;
            align-items: center;

            ul {

                margin: 0px;
                padding: 0px;
                list-style-type: none;

                li {
                    display: inline-block;
                    margin-right: 10px;

                    a {
                        span {
                            color: @orange;
                        }

                        display: block;
                        color: @gray-darker;

                        &:hover {
                            text-decoration: none;

                            span {
                                color: @orange-light;
                                text-decoration: none;
                            }
                        }
                    }
                }
            } // end of ul
        } // end of nav
    } // end of bottom-header-bar
} // end of header



/* Content  (RenderBody) */


#content {

    .article {
        margin-bottom: 40px;

        .article-head {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            line-height: 1;
            margin-bottom: 13px;

            .article-date {
                font-family: 'bebas';
                display: flex;
                flex-direction: row;
                flex-wrap: nowrap; // in case we choose wrap here: article date items can only wrap if the article-date container allows shrinking
                margin-right: 17px;
                flex-shrink: 0; 

                .article-date-day {
                    flex-shrink: 0;
                    font-size: 58px;
                    line-height: 0.9;
                    margin-right: 6px;
                }

                .article-month-year-container {
                    flex-shrink: 0;
                    .article-date-month {
                        font-size: 30px;
                    }

                    .article-date-year {
                        font-size: 20px;
                    }
                }
            }

            .article-title-subtitle-container {
                flex-grow: 1;

                .article-title {
                    font-size: 30px;
                    font-family: 'bebas';
                    margin-bottom: 3px;
                }

                .article-subtitle {
                    font-size: 11px;

                    i {
                        margin-right: 5px;
                    }

                    a {
                        color: @gray-darker;
                        text-decoration: underline;
                        margin-right: 7px;

                        &:hover {
                            color: @gray-darker;
                            text-decoration: none;
                        }
                    }

                    .fa-eye-slash {
                        margin-right: 7px;
                    }

                    .revised-on {
                        display: inline-block;
                        margin-right: 7px;
                    }

                    .tags {
                        display: inline-block;
                    }
                }
            }
            // end of .article-title-subtitle-container
        }// end of .article-head
        

        #article-body {
            margin-top: 4px;
            margin-bottom: 60px;

            h2, h3, h4 {
                margin-top: 25px;
                margin-bottom: 15px;
            }
        }

        .preview-article-body {

            .read-more {
                display: inline-block;

                .read-more-icon {
                    margin-left: 5px;
                }
            }
        }

    }
    // end of .article
    #entry-create-edit {

        input, textarea {
            width: 100%;
        }

        #Preview {
            height: 100px;
        }

        #Content {
            height: 400px;
        }

        input[type='checkbox'] { 
            width: auto;
        }

    }

    // Entry index
    #entry-index {
        .clearfix;

        #entry-index-articles {

            article {
                .article;
            }

            #no-entries-found {
                text-align: center;
                margin-top: 20px;
                margin-bottom: 40px;
            }
        }


        #entries-bottom-bar {
            .clearfix;
            margin-top: 10px;

            i {
                margin-right: 5px;
            }

            #add-entry-button {
                float: left;
                margin-right: 15px;
            }

            .pagination {
                float: right;
            }
        }
    }

    // Entry details
    #entry-details {
        article {
            .article;
        }
    }

    // Entry edit
    #entry-edit {
    }

    // Entry delete
    #entry-delete {
    }

    // Entry Archive
    #entry-archive {

        h1 {
            margin-bottom: 25px;
        }

        h3 {
            margin-bottom: 5px;
        }

        #search-by-date {

            margin-bottom: 25px;

            #search-by-date-form {
                display: flex;
                flex-direction: row;
                flex-wrap:wrap;

                #entry-archive-available-years {
                    margin-right: 30px;
                }

               #entry-archive-available-months {
                    margin-right: 30px;
                }

                #entry-archive-submit-button {
                    margin: 0;
                }
            }
        }


        #search-by-tag {

            margin-bottom: 25px;

            .tag {
                margin-right: 20px;
                .tag-count {
                    font-weight: bold;
                }
            }
        }

        #search-by-text {
            #search-by-text-form {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;

                #search-text-input {
                    margin-right: 30px;
                }
            }
        }

    }

    #legal-notice-index {
        h2 {
            margin-top: 25px;
            margin-bottom: 15px;
        }
    }
}


/* Footer */

#footer {
    margin-top: 15px;
    color: #999999;
    font-family: 'bebas';
    font-size: 13px;
    letter-spacing: 1px;
    width: 100%;

    hr {
        border: 0;
        padding: 0;
        background-color: #DDD;
        height: 1px;
        margin: 0px;
    }

    span {
        display: inline-block;
        padding: 5px;
    }

    a {
        color: #999999;
        &:hover {
            color: @blue-light;
            text-decoration: none;
        }
    }

    #powered-by {
        float: right !important;

        span {
            margin-right: 5px;
        }
    }

    #azure-logo {
        display: inline-block;
        vertical-align: middle;
        width: 109px;
        height: 20px;
        background-image: url(/Content/custom/images/azure_logo_gray.png);
        background-repeat: no-repeat;
        background-position: bottom;
        &:hover {
            background-position: top;
        }
    }

    #asp-dotnet-logo {
        display: inline-block;
        vertical-align: middle;
        width: 64px;
        height: 16px;
        margin-right: 5px;
        background-repeat: no-repeat;
        background-image: url(/Content/custom/images/asp_dotnet_logo_gray.png);
        background-position: bottom;
        &:hover {
            background-position: top;
        }
    }


    #back-to-top {
        margin-right: 30px;
        i {
            margin-left: 5px;
            margin-right: 5px;
        }
    }

}




// Pager

.paged-list-pager {
    
    .pagination {
      display: inline-block;
      padding-left: 0;
      margin: 0;
    }

    .pagination > li {
      display: inline;
    }

    .pagination > li > a,
    .pagination > li > span {
      position: relative;
      float: left;
      padding: 6px 12px;
      margin-left: -1px;
      line-height: 1.428571429;
      text-decoration: none;
      background-color: @gray-lighter-alternative;
      border: 1px solid #dddddd;
    }

    .pagination > li:first-child > a,
    .pagination > li:first-child > span {
      margin-left: 0;
    }

    .pagination > li:last-child > a,
    .pagination > li:last-child > span {
    }

    .pagination > li > a:hover,
    .pagination > li > span:hover,
    .pagination > li > a:focus,
    .pagination > li > span:focus {
      background-color: @white;
    }

    .pagination > .active > a,
    .pagination > .active > span,
    .pagination > .active > a:hover,
    .pagination > .active > span:hover,
    .pagination > .active > a:focus,
    .pagination > .active > span:focus {
      z-index: 2;
      color: @white;
      cursor: default;
      background-color: @blue;
      border-color: @blue;
    }

    .pagination > .disabled > span,
    .pagination > .disabled > a,
    .pagination > .disabled > a:hover,
    .pagination > .disabled > a:focus {
      color: #999999;
      cursor: not-allowed;
      background-color: transparent;
      border-color: #dddddd;
    }

    .pagination-lg > li > a,
    .pagination-lg > li > span {
      padding: 10px 16px;
      font-size: 18px;
    }

    .pagination-sm > li > a,
    .pagination-sm > li > span {
      padding: 5px 10px;
      font-size: 12px;
    }

    .pager {
      padding-left: 0;
      margin: 20px 0;
      text-align: center;
      list-style: none;
    }

    .pager:before,
    .pager:after {
      display: table;
      content: " ";
    }

    .pager:after {
      clear: both;
    }

    .pager:before,
    .pager:after {
      display: table;
      content: " ";
    }

    .pager:after {
      clear: both;
    }

    .pager li {
      display: inline;
    }

    .pager li > a,
    .pager li > span {
      display: inline-block;
      padding: 5px 14px;
      background-color: @gray-lighter-alternative;
      border: 1px solid #dddddd;
      border-radius: 15px;
    }

    .pager li > a:hover,
    .pager li > a:focus {
      text-decoration: none;
      background-color: @white;
    }

    .pager .next > a,
    .pager .next > span {
      float: right;
    }

    .pager .previous > a,
    .pager .previous > span {
      float: left;
    }

    .pager .disabled > a,
    .pager .disabled > a:hover,
    .pager .disabled > a:focus,
    .pager .disabled > span {
      color: #999999;
      cursor: not-allowed;
      background-color: transparent;
    }

}





@media (min-width: 979px) {
    html {
        overflow-y: scroll;
    }
}


/* Large desktop */
@media (min-width: 1200px) {  }
 
/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {  }
 
/* Landscape phone to portrait tablet */
@media (max-width: 767px) {  }
 
/* Landscape phones and down */
@media (max-width: 480px) {  }
