@using BlackMesa.Website.Resources
@{
    ViewBag.Title = Strings.LegalNotice;
}

<section id="legal-notice-index">
    <h1>@Strings.LegalNotice</h1>
    
    @if(ViewBag.CurrentLanguage == "de")
    {
        <h2>Angaben gemäß § 5 TMG:</h2>
    
        <img src="/Content/custom/images/address.png" alt="Adressdaten"/>
    
        <h2>Kontaktinformationen: </h2>
        
        <img src="/Content/custom/images/contact_de.png" alt="Kontaktdaten"/>
        
        <h2>Haftungsausschluss:</h2>
        
        <p><strong>Haftung für Inhalte</strong></p>
        <p>Die Inhalte unserer Seiten wurden mit größter Sorgfalt erstellt. Für die Richtigkeit, Vollständigkeit und Aktualität der Inhalte können wir jedoch keine Gewähr übernehmen. Als Diensteanbieter sind wir gemäß § 7 Abs.1 TMG für eigene Inhalte auf diesen Seiten nach den allgemeinen Gesetzen verantwortlich. Nach §§ 8 bis 10 TMG sind wir als Diensteanbieter jedoch nicht verpflichtet, übermittelte oder gespeicherte fremde Informationen zu überwachen oder nach Umständen zu forschen, die auf eine rechtswidrige Tätigkeit hinweisen. Verpflichtungen zur Entfernung oder Sperrung der Nutzung von Informationen nach den allgemeinen Gesetzen bleiben hiervon unberührt. Eine diesbezügliche Haftung ist jedoch erst ab dem Zeitpunkt der Kenntnis einer konkreten Rechtsverletzung möglich. Bei Bekanntwerden von entsprechenden Rechtsverletzungen werden wir diese Inhalte umgehend entfernen.</p>
        
        <p><strong>Haftung für Links</strong></p>
        <p>Unser Angebot enthält Links zu externen Webseiten Dritter, auf deren Inhalte wir keinen Einfluss haben. Deshalb können wir für diese fremden Inhalte auch keine Gewähr übernehmen. Für die Inhalte der verlinkten Seiten ist stets der jeweilige Anbieter oder Betreiber der Seiten verantwortlich. Die verlinkten Seiten wurden zum Zeitpunkt der Verlinkung auf mögliche Rechtsverstöße überprüft. Rechtswidrige Inhalte waren zum Zeitpunkt der Verlinkung nicht erkennbar. Eine permanente inhaltliche Kontrolle der verlinkten Seiten ist jedoch ohne konkrete Anhaltspunkte einer Rechtsverletzung nicht zumutbar. Bei Bekanntwerden von Rechtsverletzungen werden wir derartige Links umgehend entfernen.</p>
         
        <h2>Urheberrecht</h2>
        <p>Die durch die Seitenbetreiber erstellten Inhalte und Werke auf diesen Seiten unterliegen dem deutschen Urheberrecht. Soweit die Inhalte auf dieser Seite nicht vom Betreiber erstellt wurden, werden die Urheberrechte Dritter beachtet. Insbesondere werden Inhalte Dritter als solche gekennzeichnet. Sollten Sie trotzdem auf eine Urheberrechtsverletzung aufmerksam werden, bitten wir um einen entsprechenden Hinweis. Bei Bekanntwerden von Rechtsverletzungen werden wir derartige Inhalte umgehend entfernen.</p>
        
        <h2>Datenschutz</h2>
        <p>Die Nutzung unserer Webseite ist in der Regel ohne Angabe personenbezogener Daten möglich. Soweit auf unseren Seiten personenbezogene Daten (beispielsweise Name, Anschrift oder eMail-Adressen) erhoben werden, erfolgt dies, soweit möglich, stets auf freiwilliger Basis. Diese Daten werden ohne Ihre ausdrückliche Zustimmung nicht an Dritte weitergegeben.</p>
        <p>Wir weisen darauf hin, dass die Datenübertragung im Internet (z.B. bei der Kommunikation per E-Mail) Sicherheitslücken aufweisen kann. Ein lückenloser Schutz der Daten vor dem Zugriff durch Dritte ist nicht möglich. </p>
        <p>Der Nutzung von im Rahmen der Impressumspflicht veröffentlichten Kontaktdaten durch Dritte zur Übersendung von nicht ausdrücklich angeforderter Werbung und Informationsmaterialien wird hiermit ausdrücklich widersprochen. Die Betreiber der Seiten behalten sich ausdrücklich rechtliche Schritte im Falle der unverlangten Zusendung von Werbeinformationen, etwa durch Spam-Mails, vor.</p>

        <p><strong>Datenschutzerklärung für die Nutzung von Google Analytics</strong></p>
        <p>Diese Website benutzt Google Analytics, einen Webanalysedienst der Google Inc. ("Google"). Google Analytics verwendet sog. "Cookies", Textdateien, die auf Ihrem Computer gespeichert werden und die eine Analyse der Benutzung der Website durch Sie ermöglichen. Die durch den Cookie erzeugten Informationen über Ihre Benutzung dieser Website werden in der Regel an einen Server von Google in den USA übertragen und dort gespeichert. Im Falle der Aktivierung der IP-Anonymisierung auf dieser Webseite wird Ihre IP-Adresse von Google jedoch innerhalb von Mitgliedstaaten der Europäischen Union oder in anderen Vertragsstaaten des Abkommens über den Europäischen Wirtschaftsraum zuvor gekürzt.</p>
        <p>Nur in Ausnahmefällen wird die volle IP-Adresse an einen Server von Google in den USA übertragen und dort gekürzt. Im Auftrag des Betreibers dieser Website wird Google diese Informationen benutzen, um Ihre Nutzung der Website auszuwerten, um Reports über die Websiteaktivitäten zusammenzustellen und um weitere mit der Websitenutzung und der Internetnutzung verbundene Dienstleistungen gegenüber dem Websitebetreiber zu erbringen. Die im Rahmen von Google Analytics von Ihrem Browser übermittelte IP-Adresse wird nicht mit anderen Daten von Google zusammengeführt.</p>
         <p>Sie können die Speicherung der Cookies durch eine entsprechende Einstellung Ihrer Browser-Software verhindern; wir weisen Sie jedoch darauf hin, dass Sie in diesem Fall gegebenenfalls nicht sämtliche Funktionen dieser Website vollumfänglich werden nutzen können. Sie können darüber hinaus die Erfassung der durch das Cookie erzeugten und auf Ihre Nutzung der Website bezogenen Daten (inkl. Ihrer IP-Adresse) an Google sowie die Verarbeitung dieser Daten durch Google verhindern, indem sie das unter dem folgenden Link verfügbare Browser-Plugin herunterladen und installieren: <a href="http://tools.google.com/dlpage/gaoptout?hl=de">http://tools.google.com/dlpage/gaoptout?hl=de</a>.</p>

        <p><i>Quellverweis: <a href="http://www.e-recht24.de/muster-disclaimer.htm" target="_blank">Disclaimer eRecht24</a>, <a href="http://www.google.com/intl/de/analytics/privacyoverview.html" target="_blank">Google Analytics Bedingungen</a></i></p> 
        
        <p></p>
        <p><i> Erstellt durch den Impressum Generator von <a href="http://www.e-recht24.de">e-recht24.de</a></i></p>
    }

    @if (ViewBag.CurrentLanguage == "en")
    {
        
        <h2>Information pursuant to Article 5 of the German Telemedia Act:</h2>

        <img src="/Content/custom/images/address.png" alt="Address information" />

        <h2>Contact information</h2>
        
        <img src="/Content/custom/images/contact_en.png" alt="Contact information"/>

        <h2>Disclaimer:</h2><p><strong>Responsibility for Content:</strong><br>The contents of our site were created with extreme care, however we assume no responsibility for the correctness, completeness, or currency of the website.&nbsp; In accordance with Article 7, paragraph 1 of the German Telemedia Act (TMG), we are required as service provider to take responsibility for certain content on this website.&nbsp; However according to Articles 8 to 10 of the TMG, we are not required to monitor or inquire into any saved or transmitted third party information which suggests unlawful activity.&nbsp; The obligation to remove or block access to information as required by German law remains unaffected.&nbsp; Accountability in such a case, however, only begins once we are made aware of any concrete legal infringements, at which point any offending content will be promptly removed. </p>

        <p><strong>Disclaimer for Links:</strong><br>Our services include links to external third party websites upon which we have no influence.&nbsp; We can therefore take no responsibility for any content on these sites.&nbsp; All responsibility for said content remains with the respective provider or administrator of the website.&nbsp; All third party websites were checked for possible statutory violations at the time of linking and no unlawful content was recognized.&nbsp; However permanent monitoring of the content of linked sites can not be expected unless there is a concrete indication of a legal infringement.&nbsp; Upon notification of such an infringement, the offending links will be promptly removed.&nbsp; </p>

        <h2>Copyright Notice:</h2><p>All original content and works on this website is subject to german copyright law. Content not created by the operator of this site falls under the respective copyright laws of the third party.&nbsp; Third party content on this website is expressly labeled as such.&nbsp;&nbsp; However in the event that a possible copyright infringement is noticed, we ask to be notified accordingly.&nbsp; Upon notification of possible legal infringements, any offending material will be promptly removed.</p>
    
        <h2>Personal Data Protection</h2><p>The use of our website is generally possible without the input of personal data.&nbsp; Where and when personal data (for example name, address, or email address) is requested, it is always on a voluntary basis, if possible.&nbsp; This data will not be shared with third parties without your express consent. </p><p>We advise you that the transfer of data over the internet (for instance through email communication) is in general not without security risks.&nbsp; We cannot guarantee 100% protection of your data against access by third parties. </p><p>The use of our legally required contact information by third parties to send advertisements or informational materials not expressly requested is hereby forbidden.&nbsp; The website operator retains the right to take legal action in the event of receipt of unsolicited advertising material, including spam email.</p><p>&nbsp;</p>
       
        <p></p>
        <p><i> Created with the legal notice-generator from <a href="http://www.e-recht24.de">eRecht24</a></i></p>
    }

</section>