<article>
    <header>
        <h1>Article Heading</h1>
        <p>Abstract</p>
    </header>

    <section>
        <h2>Chapter Heading</h2>
        <section>
            <h3>Sub chapter Heading</h3>
            <figure>
                <img src="http://placehold.it/350x150" alt="Placeholder Image"/>
                <figcaption>Image related information like author, source, place time etc</figcaption>
            </figure>
            <pre>
                <code class="language-js">
                </code>
            </pre>
        </section>
    </section>
</article>