@using BlackMesa.Resources
@using BlackMesa.Utilities
@model BlackMesa.Models.Entry

<article>
    
    @Html.Partial("_EntryHead", Model)

    <div class="preview-article-body">
        
        @Html.Raw(Model.Preview)

        <span class="read-more"><i class="read-more-icon icon-double-angle-right"></i>
            @Html.ActionLink(Strings.ReadMore, "Details", new { Id = Model.Id, Title = Utilities.MakeUrlFriendly(Model.Title) }, new { @class = "read-more-link" })
        </span>
    </div>

</article>
