/* Import core variables and mixins */

@import "variables.less";
@import "mixins.less";
@import "utilities.less";


/* Layout */

@left-column-width: 740px; /* 740px is the size that is available on tablets in portrait mode 
    max-width: 979px; /* 979px is wide enough to be viewed on all desktops and on tablets in landscape mode  */


body{
    background-image: url("../images/pattern.png");
}

.container {
    .clearfix;
    margin-left: 250px;
    max-width: 1000px;
}


/* Header (Logo) */

header {
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: right;
}

/* Navigation */

nav {

    ul {
        position: fixed;
        font-size: 30px;
        list-style-type: none;
        left: 0px;
        top: 200px;
        margin-left: -20px;

        li {
            background-color: @grayDarker;
            text-align: right;
            width: 70px;
            &:hover {
                margin-left: 18px;
            }

        }

        a {
            color: whitesmoke;
            font-size: 24px;
            display: block;
            padding: 10px;
            &:hover {
                color: whitesmoke;
                text-decoration: none;
            }
        }
    }

}



/* Content  (RenderBody) */


#content {

    .section-text-header {
        font-family: 'bebas';
        font-size: 30px;
    }

    fieldset {

        .editor-label > label {
            font-weight: bold;
        }

        input {
            max-width: 730px;
        }

        textarea {
            width: 100%;
            max-width: 726px;
        }

        .field-validation-error {
            font-weight: bold;
            color: orange;
        }

        #title-input {
            width: 100% !important;
            max-width: 300px;
        }

        legend {
            .section-text-header;
        }
    }


    .article {
        margin-bottom: 20px;

        .article-head {

            .article-date-day {
                display: inline-block;
                font-size: 50px;
                line-height: 50px;
            }

            .article-month-year-container {
                display: inline-block;

                .article-date-month {
                    font-size: 26px;
                    font-family: 'bebas';
                }

                .article-date-year {
                    font-size: 18px;
                    font-family: 'bebas';
                }
            }

            .article-title-subtitle-container {
                display: inline-block;
                margin-left: 10px;

                .article-title {
                    font-size: 30px;
                    font-family: 'bebas';
                    line-height: 80%;
                }

                .article-subtitle {
                    font-size: 11px;

                    .tags {
                        a {
                            color: @grayDarker;
                            text-decoration: underline;
                            margin-right: 6px;

                            &:hover {
                                color: @grayDarker;
                                text-decoration: none;
                            }
                        }
                    }
                }
            }
        }// end of .article-head
    }// end of .article
    

    // Entry index
    #entry-index {
        .clearfix;

        #entries-top-bar {
            .clearfix;
            font-family: 'bebas';
            padding-left: 5px;

            #filter-by-tag-caption {
                float: right;
                line-height: 30px;
                min-height: 30px;
                vertical-align: middle;
                margin-right: 10px;
                margin-left: 20px;
            }

            #filter-by-tag {
                float: right;
            }

            // styling of tag-handler (input box, badges and autocomplete) in external file


        }


        #entry-index-articles {

            #entries-info-bar {
                .clearfix;
                line-height: 30px;
                font-family: 'bebas';
                padding-left: 5px;

                #entries-count {
                    float: right;
                    margin-right: 30px;
                }

                #entries-sort {
                    float: right;

                    a {
                        padding-left: 4px;
                        padding-right: 4px;
                    }
                }
            }


            article {
                .article;
            }


            #entries-bottom-bar {
                .clearfix;

                #back-to-top {
                    float: left;
                    line-height: 20px;

                    i {
                        margin-right: 10px;
                    }
                }

                .pagination {
                    float: right;
                    margin-top: 10px;
                }
            }

        }
    }

    // Entry details
    #entry-details {
        article {
            .article;
        }
    }

    // Entry edit
    #entry-edit {
    }
    // Edit delete
    #entry-delete {
    }
}


/* Footer */

footer {
    height: 60px;

    #back-to-top {
        display: none;
        position: fixed;
        bottom: 60px;
        right: 180px;
        z-index: 10;
        font-size: 60px;
        
        a {
            padding: 15px;
        }

        a:hover {
            text-decoration: none;
        }
    }
}



@media (min-width: 979px) {
    html {
        overflow-y: scroll;
    }
}


/* Large desktop */
@media (min-width: 1200px) {  }
 
/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {  }
 
/* Landscape phone to portrait tablet */
@media (max-width: 767px) {  }
 
/* Landscape phones and down */
@media (max-width: 480px) {  }
