@using BlackMesa.Blog.Resources
<hr/>
<div class="clearfix">
    <span id="back-to-top">
        <i class="fa fa-chevron-up"></i><a href="#">@Strings.BackToTop</a>
    </span>
    <span id="legal-notice">
        <i class="fa fa-legal"></i>@Html.RouteLink(Strings.LegalNotice, "Default", new { action = "Index", controller = "LegalNotice" })
    </span>

    
    <div id="powered-by">
        <span>Powered by</span>
        <a id="azure-logo" href="http://www.windowsazure.com/" target="_blank"></a>
        <a id="asp-dotnet-logo" href="http://www.asp.net/" target="_blank"></a>
    </div>
</div>
