@using BlackMesa.Models
@model BlackMesa.Models.Entry

@{
    ViewBag.Title = Model.Title;
}

<section id="entry-details">

@Html.Partial("_EntryPreview", Model)

@Html.Partial("Comment/_Index", Model.Comments)

@Html.Partial("Comment/_Create", new Comment{ EntryId = Model.Id } )

</section>