@model BlackMesa.ViewModels.EntryIndexViewModel

@{
    ViewBag.Title = "Home";
}


<section id="entry-index">
    
    <div id="entries-top-bar">
        <div id="filter-by-tag">
            <ul class="tag-input"></ul>
        </div>
        <div id="filter-by-tag-caption"><i class="icon-tags"></i> Filter by tag: </div>
        
        
    </div>
    
    <div id="entry-index-articles">
        @Html.Partial("_Entries",  Model.Entries)
    </div>
    
</section>



@section Scripts
{
    @Scripts.Render("~/Scripts/entry-index.js")
    
}
