@model BlackMesa.ViewModels.EntryIndexViewModel

@{
    ViewBag.Title = "Home";
}


<section id="entry-index">
    
    <div id="entries-top-bar">

    </div>
    
    <div id="entry-index-articles">
        @Html.Partial("_Entries",  Model.Entries)
    </div>
    
</section>



@section Scripts
{
    @Scripts.Render("~/Scripts/entry-index.js")
}
