@model IEnumerable<BlackMesa.Models.Entry>

@{
    ViewBag.Title = "Index";
}


<section id="entry-index">

@foreach (var item in Model) {
    @Html.Partial("_EntryPreview", item)
}

    <div>
        <a class="btn btn-primary" href="@Url.Action("Create")">
            <i class="icon-plus-sign"></i> Add Entry
        </a>
  
        <div class="pagination">
            <ul>
                <li><a href="#">Prev</a></li>
                <li><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">Next</a></li>
            </ul>
        </div>
    </div>

</section>