@using BlackMesa.Blog.Resources
@{
    ViewBag.Title = Strings.About;
}

<section id="legal-notice-index">
    <h1>@ViewBag.Title</h1>
    <p>
        Under construction.
    </p>
</section>


@*
<article>
    <header>
        <h1>Hallo Welt</h1>
        <p>So, nach zwei Wochen mit viel zu vielen Rückenschmerzen und viel zu wenig Schlaf ist es nun endlich soweit.
            Ich präsentiere hiermit feierlich Das, worauf das Internet nur gewartet hat: noch einen persönlichen Blog ;) </p>
    
        <p>Aber Spaß beiseite: auf BlackMesa findet ihr meine Gedanken zu ganz unterschiedlichen Themen, vorwiegend aber aus den Bereichen der IT. Meine Schwerpunkte liegen auf Web-Entwicklung im ASP.NET Umfeld und System-Administration. Ich studiere derzeit Angewandte Informatik und das einzige was daran angewandt ist, ist das Adjektiv im Namen. Gut möglich also, dass ich hier und da theoretische Grundlagen aus dem Studium in meine Beiträge packe. Das hilft mir beim Lernen und evtl. auch zukünftigen Semestern.</p>
        <p>BlackMesa ist mehrsprachig ausgelegt. Inwieweit ich dann tatsächlich dazu komme meine Beiträge ins Englische zu übersetzen, wird sich zeigen ...</p>
    </header>
</article>

<article>
    <header>
        <h1>Hello World</h1>
        <p>Finally, after two weeks of way too much back pain and way too less sleep it is accomplished. Hereby i am solemnly presenting what the internet was just waiting for: yet another personal blog! ;)</p>
        <p>But joking apart: on BlackMesa you will find my thoughts on a variety of different topics, but mainly on IT related things. My focus is on web development with ASP.NET and system administration. Right now i am studying applied computer sciences and the the only thing that is "applied" is the adjective in its name. So it might very well be possible that i am going to write about those theoretical fundamentals of my studies here and there. That is going to help me with learning and ideally its helping other students too.</p>
        <p>BlackMesa is designed multilingual. To which extent i am actually be able to translate my articles from german to english remains to be seen ...</p>
    </header>
</article>
*@