@using BlackMesa.Website.Main.Resources
@model IEnumerable<BlackMesa.Website.Main.Models.Blog.Comment>

<section id="comment-index">
    <h1>@Strings.Comments (@Model.Count())</h1>

    @foreach(var comment in Model)
    {
        @Html.Partial("Comment/_Details", comment)
    }

</section>