<section>
    <h2>Chapter 1</h2>
    <section>
        <h3>Chapter 1.1</h3>
        <figure>
            <img src="http://placehold.it/350x150" alt="Placeholder Image"/>
            <figcaption>Image related information like author, source, place time etc</figcaption>
        </figure>
        <script src="https://gist.github.com/github134235/5517471.js"></script>
    </section>
    <section>
        <h3>Chapter 1.2</h3>
        <p>
            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et
            dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.
            Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
        </p>
    </section>
</section>

<section>
    <h2>Chapter 2</h2>
    <section>
        <h3>Chapter 2.1</h3>
        <figure>
            <img src="http://placehold.it/350x150" alt="Placeholder Image" />
            <figcaption>Image related information like author, source, place time etc</figcaption>
        </figure>
    </section>
</section>