@model BlackMesa.Website.Main.Models.Blog.Comment

@{
    ViewBag.Title = "Edit comment";
}

<section id="comment-edit">

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Edit Comment</legend>
        
        @Html.Partial("../Entry/Comment/_CreateEditFieldset", Model)

        <p>
            <input class="btn btn-primary" type="submit" value="Save" />
            @Html.ActionLink("Back to List", "Details", "Entry", new { Id = Model.EntryId }, new { @class = "btn" })
        </p>
    </fieldset>
}

</section>
