@using BlackMesa.Website.Main.Models.Learning
@using BlackMesa.Website.Main.Resources
@model BlackMesa.Website.Main.Models.Learning.Folder

<div class="folder-list-item">

    @for (int i = 1; i < Model.Level; i++)
    {
        <span class="indent"></span>
    }


    <div class="tile gray-light-hover">
        <span class="folder-name">
            <i class="icon-folder"></i>
            @Html.ActionLink(Model.Name, "Move", "Selection",
                new { sourceFolderId = ViewBag.SourceFolderId, targetFolderId = Model.Id }, null)
        </span>
    </div>



</div>

@if (Model.SubFolders.Count > 0)
{
    foreach (var subFolder in Model.SubFolders)
    {
        if (!(ViewBag.SourceFolder as Folder).SubFolders.Where(s => s.IsSelected).Contains(subFolder) &&
            ((subFolder == ViewBag.SourceFolder && !(ViewBag.SourceFolder as Folder).IsSelected) ||
            subFolder != ViewBag.SourceFolder))
        {
            @Html.Partial("_FolderListItem", subFolder)
        }
    }
}