@using BlackMesa.Website.Main.Resources

@model BlackMesa.Website.Main.Areas.Learning.ViewModels.Folder.SearchFolderViewModel

@{
    ViewBag.Title = Strings.FolderStats;
}


@* ------------------- Content ------------------- *@

<div id="content">

    <section id="folder-statistics">
        
        <div class="tile gray-darker">
            <h1>@ViewBag.Title</h1>
        </div>

    </section>

</div>



@* ------------------- Menu ------------------- *@

<nav id="menu">

    <a class="red-hover" href="@Url.Action("Options", "Folder", new { id = Model.Id })" title="@Strings.Back">
        <i class="icon-back"></i>
    </a>

</nav>